.hero-container {
  display: flex;
  justify-content: space-between;
}

.search-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  align-self: flex-end;
}
.nav-links ul {
  margin: 0;
  padding: 0;
}
.nav-links ul li {
  display: inline-block;
  list-style: none;
}
.link {
  text-decoration: none;
  margin: 0;
  margin-right: 15px;
  color: rgb(7, 186, 192);
}
.link:hover {
  color: rgb(6, 96, 99);
  text-decoration: none;
}
.input {
  padding: 3px 10px;
  border-radius: 5px;
  border: 0.08rem solid rgb(7, 186, 192);
  width: 100%;
  outline: none;
}
::placeholder {
  color: rgb(7, 186, 192);
}
.fa-search {
  color: #222;
  cursor: pointer;
  margin-right: 5px;
}
.fa-search:hover {
  color: #333;
  transform: scale(1.05);
}
.hero-image{
  box-sizing: border-box;
  overflow: hidden;
  height: 200px; 
}
.hero-image img{
  width: 100%;
  height: auto;
}
.search-results-container{
  padding: 20px 0;
}

@media screen and (max-width: 700px) {
  .hero-container {
    flex-direction: column;
  }
  .nav-links {
    align-self: center;
    margin-bottom: 15px;
  }
  .search-section{
    min-width: 60vw;
    align-self: center;
  }
  .nav-links {
    display: none;
  }
}
