.side-menu{
    display: none;
    background: #aaa;
    width: 100%;
    height: calc(100vh - 100px);
}

.fa-bars{
    border-radius: 35%;
    border: 1px solid rgb(4, 133, 138);
    background: none;
    padding: 8px;
    font-size: 1.3rem;
    color: rgb(4, 133, 138);
}