.sidebar{
  min-height: 100vh;
  /* top: 100px; */
  /* overflow-y: scroll; */
  /* position: fixed; */
}

.date_published,
.author {
  display: block;
  color: #999;
  font-weight: 300;
  font-size: 85%;
}
.thumbnail_link { 
  display: flex;
  padding: 0 10px;
}
.link_container{
  padding: 10px;
  align-self: center;
}

.thumbnail {
  margin-right: 10px;
  width: 72px;
  align-self: center;
}
.thumbnail img {
  max-width: 72px;
  border-radius: 7px;
  object-fit: fill;
}
@media screen and (max-width: 900px) {
  .thumbnail{
      display: none;
  }
}

@media screen and (max-width: 700px){
  .thumbnail{
      display: block;
  }
}

