.date_published,
.author {
  display: block;
  color: #999;
  font-weight: 300;
  font-size: 85%;
}
.thumbnail_link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.link p{
  cursor: pointer;
  font-size: inherit;
}
.link p:hover{
text-decoration: underline;
}
.thumbnail {
  margin-right: 10px;
  margin-top: -8px;
  width: 72px;
  align-self: center;
}
.thumbnail img {
  max-width: 72px;
  border-radius: 7px;
  object-fit: fill;
}
.thumbnail_link {
    padding: 0 10px;
  }

@media screen and (max-width: 900px) {
  .thumbnail{
      display: none;
  }
}

@media screen and (max-width: 700px){
  .thumbnail{
      display: block;
  }
}

